:root {
  --bg: #1f2937;
  --primary: rgba(107,114,128,0);
  --text: #f8fafc;
  --accent: #38bdf8;
  --color-border: #e5e7eb; 

  background-color: var(--bg);
  color: var(--text);
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}